<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc.xsd 
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/task  http://www.springframework.org/schema/task/spring-task-3.1.xsd">
	<import resource="spring-service.xml" />
	<!-- <context:annotation-config>被扫描代替 declares support for general annotations 
		such as @Required, @Autowired, @PostConstruct -->
	<context:component-scan base-package="com.sohu.controller"></context:component-scan>
	<!-- 注册这两个Bean DefaultAnnotationHandlerMapping AnnotationMethodHandlerAdapter 
		declares support for general annotations such as @Required, @Autowired, @PostConstruct -->
	<mvc:annotation-driven />

	<!-- spring会用默认的Servlet来响应静态文件 ，例如图片,文件等 -->
	<mvc:default-servlet-handler />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/app/*" />
			<bean class="com.sohu.interceptor.Interceptor" />
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>